@import model.Institution ; var prevmd = "";

@(item: model.Item, institution: Institution, community: model.Community)


@main(institution, community) {
    <div class="sdn_body">
        <div class="sdn_sidebar">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Suche</h3>
            </div>
            <div class="panel-body">
            @helper.form(action = routes.SearchApplication.search(institution.id)) {

                <div class="form-group">
                    <label for="query">Volltextsuche</label>
                    <input type="text" name="query" class="form-control" id="inputquery" value="">
                </div>
                <button type="submit" class="btn btn-default">Suchen</button>
            }
            </div>
        </div>
    </div>

    <div class="sdn_content">
        @if(item == null ) {
            <div class="simple-item-view-description">
                <h3 class="bold">Error:</h3>
                <div>No item found!</div>
            </div>

            } else {

            <h1>@item.name</h1>
                <div class="uri"><strong>Handle:</strong><a href="http://hdl.handle.net/@item.handle">http://hdl.handle.net/@item.handle</a></div>
                <div class="itemdate"><strong>Datum:</strong>@item.getIssueDate()</div>
                @if(item.getDescription() != null) {
                <div class="simple-item-view-description">
                    <h3 class="bold">Beschreibung:</h3>
                    <div>@item.getDescription()</div>
                </div>
                }


                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseMeta" aria-expanded="false" aria-controls="collapseMeta">
                                Metadata
                            </a>
                        </h3>
                    </div>
                    <div class="collapse" id="collapseMeta">
                        <div class="panel-body">

                        @for(metadataField <- item.metadata) {
                            @if(metadataField.key != prevmd) {
                                <div class="row resultrow">
                                    <div class="col-sm-3"><label>@Messages(metadataField.key)</label></div>
                                    <div class="col-sm-9">@metadataField.value</div>
                                </div>
                            } else {
                                <div class="row resultrow">
                                    <div class="col-sm-3"></div>
                                    <div class="col-sm-9">@metadataField.value</div>
                                </div>
                            }
                            @(prevmd = metadataField.key)
                        }

                        </div>
                    </div>
                </div>


            @if(item.bitstreams.size > 0) {
                <h3>Bitstreams</h3>
                @for(bitstream <- item.bitstreams) {
                    <div class="row resultrow">
                        <div class="col-sm-2">
                            <a href="@(institution.prot)://@(institution.host):@(institution.port)/@(institution.basepath)/bitstream/handle/@(bitstream.link)">
                            <img style="height: 80px;" src="@routes.Assets.versioned("images/mime.png")" alt="Icon">
                                </a>
                        </div>
                        <div class="col-sm-10">
                            <div><strong>Name: </strong><a href="@(institution.prot)://@(institution.host):@(institution.port)/@(institution.basepath)/bitstream/handle/@(bitstream.link)">@bitstream.name</a></div>
                            <div><strong>Bundle: </strong>@bitstream.bundleName</div>
                            <div><strong>Größe: </strong>@bitstream.sizeBytes</div>
                            <div><strong>Format: </strong>@bitstream.format</div>
                            <div><strong>Checksum: </strong>@bitstream.checksum</div>
                            <a class="label label-default" data-toggle="collapse" href="#collapseDescr@bitstream.checksum" aria-expanded="false" aria-controls="collapseDescr@bitstream.checksum">
                                Beschreibung:   @bitstream.description
                            </a>

                                <div class="collapse" id="collapseDescr@bitstream.checksum">
                                @for((label, value) <- bitstream.descriptions){
                                          <div><label>@label:</label>&nbsp@value</div>
                                  }
                                    </div>

                        </div>
                    </div>
                }
            }


    }
    </div>
    </div>


}