body {
    background:#eaeaea;
    font-family: arial, helvetica, sans-serif;
    font-size:12px;
}
@media (min-width: 1200px) {
    .container {
        width: 940px;
    }
}
.container {

    background: white;
}
.page-header h1 {
    background-image: url(http://www.diw.de/sixcms/media.php/37/diw_logo_farbe_mini.jpg);
    background-repeat: no-repeat;
}
.page-header h1 a {
    margin-left:20%;

}
.page-header h1 span{

}
.panel-title {
    font-size:12px;
}
.resultrow {
    margin-bottom: 20px;
}

.panel-default>.panel-heading {
    background-color: #c0deda;
}