body {
    background:#ffffff;
    font-family: arial, helvetica, sans-serif;
    font-size:12px;
}
a {
    color:#000000;
}
a:hover {
    color: #337ab7;
}

@media (min-width: 1200px) {
    .container {
        width: 768px;
    }
}
.container {

    background: white;
}
.page-header {
    background-image: url(https://www.wzb.eu/sites/all/themes/wzb_web/logo.png);
    background-repeat: no-repeat;
    padding-bottom: 100px;
}
.page-header h1 a {
    margin-left:280px;

}
.page-header h1 span{

}
.panel-title {
    font-size:12px;
}
.resultrow {
    margin-bottom: 20px;
}

.panel-default>.panel-heading {
    background-color: #e3e3e3;
}

.panel-heading h3 {
    font-size:1.5em;
}