@( institution: model.Institution)

    @main(institution, null) {
    <div class="col-sm-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Institution auswählen</h3>
            </div>
            <div class="panel-body">
                <a href="/diw" class="btn btn-primary" role="button">DIW</a>
                <a href="/wzb" class="btn btn-primary" role="button">WZB</a>
                <a href="/zbw" class="btn btn-primary" role="button">ZBW</a>
            </div>
        </div>
    </div>
    }
